.tag {
  color: var(--color-text-light);
  width: var(--spacing-base-24);
  height: var(--spacing-base-24);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &--primary {
    background: var(--color-primary);
  }

  &--black {
    background: var(--color-black);
  }
}
