.badge {
  padding: var(--spacing-base-4) var(--spacing-base-8);
  font-size: 11px;
  border-radius: 4px;

  &--primary {
    color: var(--color-primary);
    background: rgba(var(--color-primary-rgb), 0.1);
  }

  &--danger {
    color: var(--color-danger);
    background: rgba(var(--color-danger-rgb), 0.1);
  }
}
