.btn {
  color: var(--color-text-light);
  border-radius: var(--spacing-base-10);
  font-weight: 700;
  border: none;
  padding: var(--spacing-base-16);
  cursor: pointer;

  &--primary {
    background: var(--color-primary);
  }

  &--danger {
    background: var(--color-danger);
  }

  &--block {
    display: block;
    width: 100%;
  }
}
