.btn {
  color: var(--color-text-light);
  border-radius: var(--spacing-base-10);
  font-weight: 700;
  border: none;
  padding: var(--spacing-base-16);
  cursor: pointer;

  &--primary {
    background: var(--color-primary);
  }

  &--danger {
    background: var(--color-danger);
  }

  &--gray {
    background: var(--color-light-gray);
  }

  &--block {
    display: block;
    width: 100%;
  }

  &__icon-only {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}
